* {
  display: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  font-family: "Manrope", sans-serif;
  background-color: var(--light-grayish-blue);
  font-size: 0.8em;
}

:root {
  --dark-grayish: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

main {
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: auto;
  box-shadow: 0 3rem 3rem var(--blue);

  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  background-image: url(./images/drawers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.description>* {
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
}

h2 {
  margin-bottom: 1rem;
}

.author {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
}

.author-details {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  flex: 1;
}

#photo {
  width: 60px;
  border-radius: 50%;
}

.button,
.button-active-desktop,
.button-active-mobile {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

/* mobile popup */
.mobile {
  background-color: var(--dark-grayish);
  min-height: 60px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  display: none;
}

.mobile-share,
.share,
.icons {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 1.5rem;
}

.share p,
.mobile-share p {
  letter-spacing: 1ch;
}

/* desktop popup */

.desktop {
  position: absolute;
  top: 50%;
  right: 19%;
  justify-content: center;
}

.share {
  position: relative;
}

.arrow {
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--dark-grayish);
  left: 43%;
  bottom: -20%;
}

/* styling*/
.description {
  background-color: white;
}

h2,
h4 {
  color: var(--dark-grayish);
}

p {
  color: var(--blue);
}

.popup {
  background-color: var(--dark-grayish);
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  display: none;
}

.button {
  border: 6px solid var(--light-grayish-blue);
  background-color: var(--light-grayish-blue);
}

.button-active-desktop {
  border: 6px solid var(--dark-grayish);
  background-color: var(--dark-grayish);
}

.button-active-mobile {
  border: 6px solid var(--blue);
  background-color: var(--blue);
}

#button {
  fill: var(--dark-blue);
}

@media screen and (max-width: 900px) {
  body {
    overflow: hidden;
  }

  .wrapper {
    position: static;
    margin-top: 2rem;
    margin-inline: 1.5rem;
    transform: none;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 1fr;
  }

}